<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layout/fragments.html :: header(false)"></div>
    <img th:src="${not #strings.isEmpty(detail.bannerImg) ? detail.bannerImg : '/images/banner.png'}" class="img-fluid mt-5" alt="..." style="width: 100%; height: 300px;">
    <main class="flex-shrink-0 bg-light">
        <form name="diaryForm" method="get">
            <input type="hidden" name="markDetailId" th:value="${detail.markDetailId}">
            <input type="hidden" name="page" value="0">
        </form>
        <!-- Page content-->
        <section class="mt-5">
            <div class="container" style="padding-right: 25px;">
                <!-- Contact form-->
                <div class="rounded-3 px-md-5 mb-5" style="min-height: 600px;">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">[[${detail.title}]]</h1>
                        <p class="lead fw-normal text-muted mb-0"
                           th:if="${not #strings.isEmpty(detail.shortDescription)}"
                        >
                            [[${detail.shortDescription}]]</p>
                    </div>
                    <div class="row gx-5 justify-content-center mt-5 px-5">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a th:href="|/mark/${detail.markDetailId}/diary/new|"
                               class="btn btn-outline-primary text-decoration-none">다이어리 등록하기</a>
                        </div>
                        <div id="diarySite" class="row justify-content-center mt-5 bg-light"
                             style="padding: 0;">
                            <p class="align-self-center text-center">다이어리를 등록해주세요.</p>
                        </div>
                        <div class="btn-group no-padding mt-3" role="group" aria-label="Basic outlined example">
                            <button class="btn btn-outline-secondary">더보기</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<section layout:fragment="script">
    <script th:replace="layout/fragments :: attachment"></script>
    <script th:replace="layout/scriptFragments :: dateRangePicker"></script>
    <script th:replace="layout/scriptFragments :: tinyEditor"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const detail = /*[[${detail}]]*/'';
        /*]]>*/
    </script>
    <script>

        const onReady = function() {
            loadDiaryPageList(true);
        }

        const loadDiaryPageList = function(isInit) {

            const markDetailId  = detail.markDetailId,
                  $form          = getDiaryForm();

            if (!checkNullOrEmptyValue(markDetailId)) {
                return false;
            }

            if (isInit) {
                $form.find("input[name='page']").val(0);
            }

            clearDiarySite();

            $.ajax({
                url: "/mark/" + markDetailId + "/diary",
                method: 'GET',
                data: $form.serialize(),
                dataType: "html",
                spin: false,
                success: function (html) {
                    if (isInit) {
                        $("#diarySite").html(html);
                    } else {
                        $("#diarySite").append(html);
                    }
                }
            });
        }

        const moreDiaries = (e) => {
            checkEvent(e);

            const $form = getDiaryForm();
            $form.find('input[name="page"]').val(Number($form.find('input[name="page"]').val()) + 1);

            loadDiaryPageList(false);
        }

        const clearDiarySite = function() {
            $('#diarySite').empty();
        }

        const getDiaryForm = () => {
            return $("form[name='diaryForm']");
        }

        $(document).ready(onReady)
            .on("click", "#moreDiaries", moreDiaries);
    </script>
</section>
</body>
</html>
