<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<div th:fragment="store-intro" th:remove="tag">
  <ul class="list-group">
    <li class="list-group-item border-bottom-ivory-color" style="border-bottom: 1px solid rgba(0,0,0,.125);"
        th:if="${not #strings.isEmpty(detail.tel)}"
    >
      <div class="row">
        <div class="col-3">전화번호</div>
        <div class="col-9">[[${detail.tel}]]</div>
      </div>
    </li>
    <li class="list-group-item border-bottom-ivory-color" style="border-bottom: 1px solid rgba(0,0,0,.125);"
        th:if="${not #strings.isEmpty(detail.address)}"
    >
      <div class="row">
        <div class="col-3">주소</div>
        <div class="col-9">[[${detail.address}]]&nbsp;[[${detail.addressDetail}]]</div>
      </div>
    </li>
    <li class="list-group-item border-bottom-ivory-color" style="border-bottom: 1px solid rgba(0,0,0,.125);"
        th:if="${not #strings.isEmpty(detail.workTime)}"
    >
      <div class="row">
        <div class="col-3">영업시간</div>
        <div class="col-9">[[${detail.workTime}]]</div>
      </div>
    </li>
  </ul>
</div>
