<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<div th:fragment="review" th:remove="tag">
    <div class="row mb-3">
        <div class="col-8"></div>
        <div class="col-4">
            <a th:href="|/mark/${markDetailId}/store/review/new|"
               class="btn btn-outline-primary text-decoration-none pull-right"
               style="height: 40px; background-color: #3A4C67; border-color: #3A4C67; color: #ffffff;">
                리뷰쓰기
            </a>
        </div>
    </div>
    <th:block th:each="r : ${reviewList}" th:if="${not #lists.isEmpty(reviewList)}">
        <div class="row border rounded bg-light no-padding mb-2">
            <div class="card no-padding">
                <div class="card-body display-flex-column" style="padding-top: 20px;">
                    <a th:href="|/mark/${r.markDetailId}/store/review/${r.reviewId}|"
                       class="text-decoration-none fw-normal" style="color: black;"
                    >
                        <div class="display-flex-row" style="min-height: 100px; max-height: 200px; cursor:pointer;">
                            <div class="display-flex-column" style="width: 80%;">
                                <div class="display-flex-row">
                                    <img src="/images/icon.png" class="card-img-top justify-content-center" style="width: 12%; height: 30px;">
                                    <span class="card-title p-1 review-text-color" style="width: 88%; font-weight: normal; font-size: 12px;">
                                            [[${r.nickname}]]&nbsp;|&nbsp;[[${#temporals.format(r.createdAt, 'YYYY-MM-dd')}]]
                                        </span>
                                </div>
                                <div class="p-2 review-text-color" th:utext="${r.content}" style="word-break: break-all; overflow: hidden; max-height: 100px;"></div>
                            </div>
                            <div style="width: 20%;">
                                <img th:src="${not #strings.isEmpty(r.bannerImg) ? r.bannerImg : '/images/star_logo.png'}" class="card-img-top justify-content-center" width="40" height="75">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:if="${#lists.isEmpty(reviewList.content)}">
        <p class="align-self-center text-center">리뷰를 등록해주세요.</p>
    </th:block>
</div>
