<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layout/fragments.html :: header(false)"></div>
    <main class="flex-shrink-0 mt-5">
        <!-- Page content-->
        <section class="mt-3">
            <div class="container px-1 mt-5">
                <div class="row">
                    <div class="col-3">
                        <img th:src="${not #strings.isEmpty(detail.bannerImg) ? detail.bannerImg : '/images/banner.png'}" class="img-fluid" alt="..." style="width: 110px; height: 90px;">
                    </div>
                    <div class="col-9 display-flex-column pt-2">
                        <h5 class="review-title">[[${detail.title}]]</h5>
                        <span>[[${detail.shortDescription}]]</span>
                        <span>3점 보통이에요</span>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="container px-1">
                <!-- Contact form-->
                <div class="rounded-3 py-1 px-md-1">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form id="reviewCreateForm" class="needs-validation" name="reviewCreateForm" th:action="|/mark/${reviewCreateForm.markDetailId}/store/review/create|" th:object="${reviewCreateForm}" method="post" novalidate>
                                <input type="hidden" name="markDetailId" th:field="*{markDetailId}" />

                                <div class="form-group mb-4 pt-3">
                                    <p class="review-title text-center">상세한 후기를 적어주세요.</p>
                                </div>

                                <div class="form-group mb-5">
                                    <textarea id="content" th:field="*{content}" class="form-control" rows="7" name="content"
                                              placeholder="리뷰를 적어주세요." aria-describedby="contentHelp" required></textarea>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</small>
                                </div>

                                <div class="form-group mb-4">
                                    <label class="mb-1" for="imgSection">이미지</label>
                                    <div class="thumbnailWrapper attachment display-flex-column">
                                        <div class="thumbnailBtnSite">
                                            <button id="attachFile" type="button" class="btn btn-outline-primary thumbnailUpload" style="font-size: 12px;">
                                                <i class="fas fa-file-image-o" aria-hidden="true"></i>
                                                업로드
                                            </button>
                                        </div>
                                        <div id="imgSection" class="imagePanel mt-3">

                                        </div>
<!--                                        <div id="carouselExampleControls" class="carousel slide mt-3" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                                            <div class="carousel-inner imagePanel">-->
<!--                                            </div>-->
<!--                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">-->
<!--                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                                <span class="visually-hidden">Previous</span>-->
<!--                                            </button>-->
<!--                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">-->
<!--                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                                <span class="visually-hidden">Next</span>-->
<!--                                            </button>-->
<!--                                        </div>-->
                                    </div>
                                </div>

                                <div class="d-grid"><button class="btn btn-primary btn-lg btnSubmit" type="button">작성하기</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<section layout:fragment="script">
    <script th:replace="layout/fragments :: attachment"></script>
    <script>

        const onReady = function() {

        }

        const imgUpload = function() {
            const $this = $(this);

            documentUpload({
                multiple: false,
                callback: function (data) {

                    console.log("data", data);

                    if (data.status === 200) {

                        const   fullPath            = data.responseText,
                                $thumbnailWrapper   = $this.closest('.thumbnailWrapper'),
                                $thumbnailPanel     = $thumbnailWrapper.find('.imagePanel');

                        let tag                     = drawImgTag(fullPath);

                        $thumbnailPanel.append(tag);

                        $('.carousel-item').removeClass('active');
                        $('.carousel-item').last().addClass('active');
                    }
                }
            });
        };


        const drawImgTag = function(fullPath) {
            let tag = '';

            tag += '<div class="thumbnailInfo" style="display: inline-block; width: 90px; height: 90px; margin-right: 8px;">';
            tag += '<input type="hidden" name="bannerImg" />';
            tag += '<div class="image-panel" style="cursor: pointer; position: relative; width: 100%; height: 100%;">';
            tag +=       '<img class="img-fluid" src="' + fullPath + '" style="width: 100%; height: 100%;">';
            tag +=       '<button type="button" class="btn-sm btn-danger pull-right remove-image" style="position: absolute; right: -1px;"><i class="fas fa-times" aria-hidden="true"></i></button>';
            tag += '</div>';
            tag += '</div>';

            return tag;
        };

        const drawSlideImgTag = function(fullPath) {
            let tag = '';

            tag += '<div class="card carousel-item">';
            tag +=      '<img src="' + fullPath + '" class="d-block w-100 card-img-top" style="height: 200px;">';
            tag +=          '<div class="card-body">';
            tag +=              '<textarea class="form-control" rows="5" name="reviewText"></textarea>';
            tag +=          '</div>';
            tag += '</div>';

            return tag;
        };

        const save = function() {

            const   $form           = $('form[name="reviewCreateForm"]'),
                    markDetailId    = $form.find('input[name="markDetailId"]').val();

            let param = {
                "markDetailId"    : markDetailId,
                "content"         : $form.find('textarea[name="content"]').val(),
            }

            let reviewCardList = [];

            $('.imagePanel .thumbnailInfo').each(function(idx, item){

                const me = $(item);

                let imgData = {
                    "reviewImg"   : me.find('img').attr('src')
                }

                reviewCardList.push(imgData);
            });

            if (reviewCardList.length > 0) {
                param['bannerImg'] = reviewCardList[0].reviewImg;
            }

            param['reviewCardList'] = reviewCardList;

            console.log("params", param);

            $.ajax({
                url: "/mark/" + markDetailId + "/store/review/create",
                method: 'post',
                type: "json",
                contentType: "application/json",
                data: JSON.stringify(param),
                success: function (result) {
                    location.reload();
                },
                error:function(error){
                    ajaxErrorFieldByText(error);
                }
            });

        }

        $(document).ready(onReady)
            .on('click', '.thumbnailUpload', imgUpload)
            .on('click', '.btnSubmit', save)
        ;
    </script>
</section>
</body>
</html>
