<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layout/fragments.html :: header(false)"></div>
    <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner imagePanel">
            <th:block th:each="card, status : ${detail.cards}" th:if="${not #lists.isEmpty(detail.cards)}">
                <div class="carousel-item" th:classappend="${status.index == 0 ? 'active' : ''}">
                    <img th:src="${card.reviewImg}" class="d-block w-100">
                </div>
            </th:block>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <main class="flex-shrink-0">
        <!-- Page content-->
        <section>
            <div class="container">
                <div class="display-flex-row p-3">
                    <div style="width: 12%;">
                        <img src="/images/icon.png" class="card-img-top justify-content-center pull-left" width="30" height="35">
                    </div>
                    <span class="card-title review-text-color"
                          style="width: 88%; font-weight: normal; font-size: 12px; padding-left: 10px; padding-top: 10px;">
                        [[${detail.nickname}]]&nbsp;|&nbsp;[[${#temporals.format(detail.createdAt, 'YYYY-MM-dd')}]]
                    </span>
                </div>
            </div>
            <div class="divider" style="margin-top: 0;"></div>
            <div class="container">
                <div class="p-3" th:utext="${detail.content}"
                     style="background-color: #fff; border-radius: 10px; min-height: 200px; padding-top: 20px;">
                </div>
            </div>
            <div class="btn-group mt-3 col-12 p-3" role="group" aria-label="Basic outlined example">
                <a th:href="|/mark/view/store/${detail.markDetailId}|"
                   class="btn btn-outline-primary text-decoration-none">목록</a>
            </div>
        </section>
    </main>
</div>

<section layout:fragment="script">
    <script th:replace="layout/fragments :: attachment"></script>
    <script th:replace="layout/scriptFragments :: tinyEditor"></script>
</section>
</body>
</html>
