<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layout/fragments.html :: header(false)"></div>
    <main class="flex-shrink-0 bg-light mt-5">
        <!-- Page content-->
        <section class="mt-3">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="rounded-3 py-5 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">마크 생성</h1>
                        <p class="lead fw-normal text-muted mb-0">최고의 리뷰어를 모집해보세요!🗽</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form id="markCreateForm" class="needs-validation" th:action="@{/mark/create}" th:object="${markCreateForm}" method="post" novalidate>

                                <div class="form-group mb-4">
                                    <label class="mb-1" for="title">마크이름</label>
                                    <input id="title" th:field="*{title}" type="text" class="form-control" name="title"
                                           aria-describedby="contactHelp" required max="500" placeholder="마크 이름을 입력해주세요.">
                                    <small class="invalid-feedback">마크이름를 입력하세요.</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                                </div>

                                <div class="form-group mb-5">
                                    <div class="row display-none">
                                        <div class="col-12">
                                            <input id="zipCode" th:field="*{zipCode}" type="text" class="form-control" name="zipCode"
                                                   aria-describedby="zipCodeHelp" required max="500">
                                        </div>
                                    </div>
                                    <label class="mb-1" for="address">주소</label>
                                    <div class="row mb-3">
                                        <div class="col-8">
                                            <input id="address" th:field="*{address}" type="text" class="form-control" name="address" readonly
                                                   aria-describedby="contactHelp" required max="500" placeholder="주소를 입력해주세요."
                                                   onclick="execDaumPostcode()">
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</small>
                                        </div>
                                        <div class="col-4">
                                            <button type="button" class="btn btn-outline-secondary" onclick="execDaumPostcode()">주소검색</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <input id="addressDetail" th:field="*{addressDetail}" type="text" class="form-control" name="addressDetail"
                                                   aria-describedby="contactHelp" required max="500" placeholder="상세주소를 입력해주세요.">
                                            <small class="invalid-feedback">주소를 입력하세요.</small>
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('addressDetail')}" th:errors="*{addressDetail}">AddressDetail Error</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">생성하기</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<section layout:fragment="script">
    <script th:replace="layout/fragments :: attachment"></script>
    <script th:replace="layout/scriptFragments :: dateRangePicker"></script>
    <script th:replace="layout/scriptFragments :: tinyEditor"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = '', // 주소 변수
                        extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        // document.getElementById("extraAddress").value = extraAddr;

                    } else {
                        // document.getElementById("extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('zipCode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("addressDetail").focus();
                }
            }).open();
        }
    </script>
</section>
</body>
</html>
