<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layout/fragments.html :: header(false)"></div>
    <main class="flex-shrink-0 bg-light mt-5">
        <!-- Page content-->
        <section class="mt-3">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="rounded-3 py-5 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">마크 생성</h1>
                        <p class="lead fw-normal text-muted mb-0">최고의 리뷰어를 모집해보세요!🗽</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form id="contactForm" class="needs-validation" th:action="@{/mark/new}" th:object="${markCreateForm}" method="post" novalidate>

                                <div class="form-group mb-3">
                                    <label for="title">마크이름</label>
                                    <input id="title" th:field="*{title}" type="text" class="form-control"
                                           aria-describedby="contactHelp" required max="500" placeholder="가게이름을 입력해주세요.">
                                    <small id="titleHelp" class="form-text text-muted">
                                        가게이름을 30자 이내로 입력하세요.
                                    </small>
                                    <small class="invalid-feedback">가게이름를 입력하세요.</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="title">주소</label>
                                    <input id="address" th:field="*{address}" type="text" class="form-control"
                                           aria-describedby="contactHelp" required max="500" placeholder="주소를 입력해주세요.">
                                    <small id="addressHelp" class="form-text text-muted">
                                        주소를 입력하세요.
                                    </small>
                                    <small class="invalid-feedback">주소를 입력하세요.</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</small>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="point">포인트</label>
                                    <input id="point" th:field="*{point}" type="number" class="form-control"
                                           aria-describedby="pointHelp" required min="0">
                                    <small id="pointHelp" class="form-text text-muted">
                                        포인트를 입력해주세요.
                                    </small>
                                    <small class="invalid-feedback">포인트를 입력해주세요.</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('point')}" th:errors="*{point}">Point Error</small>
                                </div>

                                <div class="form-row mb-3">
                                    <div class="form-group col">
                                        <label for="applicationRangeDate">전시기간</label>
                                        <input id="applicationRangeDate" class="form-control rangeDatePicker" style="background-color: white;" placeholder="모집 기간을 선택하세요." aria-describedby="applicationRangeDateHelp" readonly>
                                        <small id="applicationRangeDateHelp" class="form-text text-muted">모집기간 설정을 원하시면 설정해주세요.</small>
                                        <input type="hidden" id="startDateTime" th:field="*{startDateTime}">
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('startDateTime')}" th:errors="*{startDateTime}">Start Date Error</small>
                                        <input type="hidden" class="form-control singleDatePicker" id="endDateTime" th:field="*{endDateTime}">
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('endDateTime')}" th:errors="*{endDateTime}">Start Date Error</small>
                                    </div>
                                </div>

<!--                                <div class="form-group mb-3">-->
<!--                                    <label for="content">상세 소개</label>-->
<!--                                    <textarea id="content" th:field="*{content}" class="editor form-control"-->
<!--                                              placeholder="가게의 설명이나 이벤트에 대해 자세히 설명해주세요." aria-describedby="contentHelp" required></textarea>-->
<!--                                    <small id="contentHelp" class="form-text text-muted">-->
<!--                                        가게의 설명이나 이벤트에 대해 자세히 설명해주세요.-->
<!--                                    </small>-->
<!--                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</small>-->
<!--                                </div>-->

<!--                                <div class="form-group mb-3">-->
<!--                                    <label for="note">비고</label>-->
<!--                                    <textarea id="note" th:field="*{note}" class="form-control" rows="5"-->
<!--                                              placeholder="관리자가 참고할만한 정보나 연락처를 입력해주세요." aria-describedby="noteHelp" required></textarea>-->
<!--                                    <small id="noteHelp" class="form-text text-muted">-->
<!--                                        관리자가 참고할만한 정보나 연락처를 입력해주세요.-->
<!--                                    </small>-->
<!--                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Note Error</small>-->
<!--                                </div>-->

                                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">신청하기</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<section layout:fragment="script">
    <script th:replace="layout/fragments :: attachment"></script>
    <script th:replace="layout/scriptFragments :: dateRangePicker"></script>
    <script th:replace="layout/scriptFragments :: tinyEditor"></script>
</section>
</body>
</html>
