<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layout/fragments.html :: header(false)"></div>
    <main class="flex-shrink-0 bg-light mt-5">
        <!-- Page content-->
        <section class="mt-3">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="rounded-3 py-5 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">마크 생성</h1>
                        <p class="lead fw-normal text-muted mb-0">최고의 리뷰어를 모집해보세요!🗽</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form id="markCreateForm" class="needs-validation" th:action="@{/mark/create}" th:object="${markCreateForm}" method="post" novalidate>
                                <input type="hidden" name="coordinateX" th:value="${markCreateForm.coordinateX}" />
                                <input type="hidden" name="coordinateY" th:value="${markCreateForm.coordinateY}" />

                                <div class="form-group mb-4 required">
                                    <label for="firstCategory">마크 유형</label>
                                    <select id="firstCategory" class="form-control" name="markType" aria-describedby="markTypeHelp" required>
                                        <option value="">선택하세요</option>
                                        <option value="DIARY">다이어리</option>
                                        <option value="STORE">가게</option>
                                    </select>
                                    <small id="categoryHelp" class="form-text text-muted"></small>
                                </div>

                                <div class="form-group mb-4">
                                    <label class="mb-1" for="title">제목</label>
                                    <input id="title" th:field="*{title}" type="text" class="form-control" name="title"
                                           aria-describedby="contactHelp" required max="500" placeholder="마크 이름을 입력해주세요.">
                                    <small class="invalid-feedback">마크이름를 입력하세요.</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                                </div>

                                <div class="form-group mb-4">
                                    <label class="mb-1" for="title">한줄 소개</label>
                                    <input id="shortDescription" th:field="*{shortDescription}" type="text" class="form-control" name="shortDescription"
                                           aria-describedby="shortDescriptionHelp" required max="500" placeholder="한줄소개를 입력해주세요.">
                                    <small class="invalid-feedback">마크이름를 입력하세요.</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('shortDescription')}" th:errors="*{shortDescription}">ShortDescription Error</small>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="content">상세 소개</label>
                                    <textarea id="content" th:field="*{content}" class="editor form-control"
                                              placeholder="마크에 대해 자세히 설명해주세요." aria-describedby="contentHelp" required></textarea>
                                    <small id="contentHelp" class="form-text text-muted">
                                        마크에 대해 자세히 설명해주세요.
                                    </small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</small>
                                </div>

                                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">생성하기</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<section layout:fragment="script">
    <script th:replace="layout/fragments :: attachment"></script>
    <script th:replace="layout/scriptFragments :: dateRangePicker"></script>
    <script th:replace="layout/scriptFragments :: tinyEditor"></script>
</section>
</body>
</html>
