<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="bannerImg" th:remove="tag">
    <img th:src="${not #strings.isEmpty(detail.bannerImg) ? detail.bannerImg : '/images/banner.png'}" class="img-fluid mt-5" alt="..." style="width: 100%; height: 300px;">
</div>

<div th:fragment="header" th:remove="tag">
    <div class="text-center mb-5">
        <h1 class="fw-bolder">[[${detail.title}]]</h1>
        <p class="lead fw-normal text-muted mb-0"
           th:if="${not #strings.isEmpty(detail.shortDescription)}"
        >
            [[${detail.shortDescription}]]</p>
    </div>
</div>

<div th:fragment="create-form-store" th:remove="tag">
    <div class="form-group mb-5 display-none store-info">
        <label class="mb-1" for="tel">전화번호</label>
        <input id="tel" th:field="*{tel}" type="text" class="form-control" name="shortDescription"
               aria-tel="telHelp" required max="500" placeholder="전화번호를 입력해주세요.">
        <small class="invalid-feedback">마크이름를 입력하세요.</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}">Tel Error</small>
    </div>
    <div class="form-group mb-5 display-none store-info">
        <div class="row display-none">
            <div class="col-12">
                <input id="zipCode" th:field="*{zipCode}" type="text" class="form-control" name="zipCode"
                       aria-describedby="zipCodeHelp" required max="500">
            </div>
        </div>
        <label class="mb-1" for="address">주소</label>
        <div class="row mb-3">
            <div class="col-8">
                <input id="address" th:field="*{address}" type="text" class="form-control" name="address" readonly
                       aria-describedby="contactHelp" required max="500" placeholder="주소를 입력해주세요."
                       onclick="execDaumPostcode()">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</small>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-outline-secondary" onclick="execDaumPostcode()">주소검색</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="addressDetail" th:field="*{addressDetail}" type="text" class="form-control" name="addressDetail"
                       aria-describedby="contactHelp" required max="500" placeholder="상세주소를 입력해주세요.">
                <small class="invalid-feedback">주소를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('addressDetail')}" th:errors="*{addressDetail}">AddressDetail Error</small>
            </div>
        </div>
    </div>
    <div class="form-group mb-5 display-none store-info">
        <label class="mb-1" for="workTime">영업시간</label>
        <input id="workTime" th:field="*{workTime}" type="text" class="form-control" name="workTime"
               aria-tel="workTimeHelp" required max="500" placeholder="전화번호를 입력해주세요.">
        <small class="invalid-feedback">마크이름를 입력하세요.</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('workTime')}" th:errors="*{workTime}">Work Time Error</small>
    </div>
</div>

</body>
</html>
