<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layout/fragments.html :: header(false)"></div>
    <img src="/images/banner.png" class="img-fluid mt-5" alt="..." style="width: 100%; height: 300px;">
    <main class="flex-shrink-0 bg-light">
        <!-- Page content-->
        <section class="mt-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="rounded-3 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">[[${detail.title}]]</h1>
                        <p class="lead fw-normal text-muted mb-0"
                           th:if="${not #strings.isEmpty(detail.shortDescription)}"
                        >
                            [[${detail.shortDescription}]]</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">소개</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">메뉴</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">리뷰</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">프로모션</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row gx-5 justify-content-center mt-5" th:utext="${detail.content}" style="min-height: 300px;"></div>
                </div>
            </div>
        </section>
    </main>
</div>

<section layout:fragment="script">
    <script th:replace="layout/fragments :: attachment"></script>
    <script th:replace="layout/scriptFragments :: dateRangePicker"></script>
    <script th:replace="layout/scriptFragments :: tinyEditor"></script>
</section>
</body>
</html>
