<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<div>
    <div class="card mt-4">
        <div class="card-header">
            <h2>패스워드 찾기 인증번호입니다.</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="lead">
                        안녕하세요.<br>
                        비밀번호 찾기 인증 메일입니다.<br>
                        아래 인증코드를 화면에 입력해주세요.<br>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 th:text="${validCode}"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="https://catchreview.io">catch review 바로가기</a>
        </div>
    </div>
</div>
</body>
</html>
