.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.no-left-padding {
    padding-left: 0;
}

.no-padding {
    padding: 0;
}

.border-ivory-color {
    border: 1px solid rgba(0,0,0,.125);
}

.border-bottom-ivory-color {
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.image-panel .update-image i {
    font-size: 15px;
}

.image-panel .remove-image i {
    font-size: 15px;
}

.review-title {
    font-size: 18px;
    font-weight: bold;
}

.divider {
    border: 3px solid #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.review-text-color {
    color: #666666;
}
