<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header(isNeedSearch)" th:remove="tag">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CatchReview</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="container-sm mt-2" th:if="${isNeedSearch}">
            <form class="d-flex col">
                <input class="form-control" type="search" name="address" placeholder="주소 검색" aria-label="Search" th:value="${address}">
            </form>
        </div>
    </nav>
</div>
<div th:fragment="offcanvas" th:remove="tag">
    <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel text-white fw-normal pl-3">로그인을 해주세요.</h5>
            <button type="button" class="btn-close text-reset text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-center">
                        <a class="text-decoration-none text-white fw-normal" href="/login">로그인</a>
                    </div>
                    <div class="col-6 text-center">
                        <a class="text-decoration-none text-white fw-normal" href="/sign-up">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="footer" th:remove="tag">
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');

            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>
</body>
</html>
